.request-modal {
  position: fixed;
  z-index: 120;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 32px);
  min-height: calc(100% - 102px);

  padding-left: 12px;
  padding-right: 12px;

  background-color: var(--color-bcg-element);
  border-radius: var(--radius-card);

  transition: opacity var(--main-delay) var(--main-cubic-bezier),
    visibility var(--main-delay) var(--main-cubic-bezier);
}

.request-form {
  display: block;
  min-height: 100%;
}

.request-checkbox {
  display: flex;
  margin-bottom: 24px;
  margin-left: 4px;
}

.request-modal-title {
  margin-bottom: 18px;
  margin-left: -12px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;

  width: max-content;

  background-color: var(--color-bcg);
  border-radius: var(--radius-title);
}

.request-modal-title-text {
  color: var(--color-focus-text);
}

.request-label {
  position: relative;
  display: block;

  width: 100%;
  margin-bottom: 24px;
}

.request-label-title {
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 10px;

  font-size: 14px;
  background-color: var(--color-bcg-element);
}

.request-input {
  width: 100%;
  min-height: 42px;
  padding-left: 8px;

  background-color: var(--color-bcg-element);
  border-radius: var(--radius-input);
  border-color: var(--color-main-text);
  color: var(--color-main-text);
}

.request-date-input::placeholder {
  color: var(--color-placeholfer);
}

.request-time-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.request-time-block .request-label {
  margin-bottom: 0;
}

.request-time-input::placeholder {
  color: var(--color-placeholfer);
}

.request-checkbox-box-allday {
  margin-bottom: 0;
  margin-left: 8px;
}

.request-checkbox-allday {
  margin-right: 0;
  font-size: 14px;
}

.request-checkbox-allday-text {
  font-size: 14px;
}

.request-form-btn-panel {
  display: flex;
  justify-content: center;
  gap: 12%;

  margin-top: 20%;
  margin-bottom: 4px;
}

.request-button {
  min-width: 128px;
  min-height: 36px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;

  color: var(--color-main-text);
  background-color: var(--color-input);
  border-radius: var(--radius-input);
}
