@import url(../../node_modules/flatpickr/dist/flatpickr.min.css);
@import url(../../node_modules/flatpickr/dist/themes/dark.css);
@import url(../../node_modules/slim-select/dist/slimselect.css);
@import url(../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css);
@import '/node_modules/modern-normalize/modern-normalize.css';
@import url(./reset.css);
@import url('./fonts.css');
@import url(./main.css);
@import url(./request.css);

:root {
  /* Colors */
  --color-fixed-menu: rgb(36, 36, 36, 95%);
  --color-top-menu: rgb(42, 42, 42, 90%);
  --color-bcg: rgb(42, 42, 42);
  --color-bcg-element: rgb(21, 21, 21, 100%);
  --color-main-menu: #242424;
  --color-card-eqp: rgba(5, 129, 146, 0.7);
  --color-main-text: rgb(217, 217, 217, 80%);
  --color-focus-text: rgb(255, 255, 255, 90%);
  --color-placeholfer: rgba(184, 184, 184, 0.434);

  /* color form */
  --color-input: rgb(42, 42, 42);

  /* event colors  */

  --color-active: rgb(0, 164, 185, 70%);

  /* Style */
  --radius-input: 4px;
  --radius-main-menu: 8px;
  --radius-card: 12px;
  --radius-card-bottom: 0 0 12px 12px;
  --radius-title: 0 0 8px 0;
  --shadow-card: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  --shadow-menu: 0 0 5px 2px rgb(36, 36, 36, 95%);

  /* animation  */
  --main-delay: 250ms;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* main style */

html {
  margin: 0;
  overscroll-behavior: none;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;

  color: var(--color-main-text);
  background-color: var(--color-bcg);
}

.off-scroll {
  overflow-y: hidden;
  position: fixed;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*--------------------- Header menu clasess------------------------- */

.header-menu {
  position: fixed;
  top: 0;
  z-index: 99;

  height: 46px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;

  background-color: var(--color-top-menu);

  backdrop-filter: blur(50px);
}

.select-category {
  color: var(--color-main-text);
  border: none;
  background-color: var(--color-top-menu);
}

.ss-main {
  fill: var(--color-main-text);
}

.header-menu-notification-list {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header-menu-notification-button {
  height: 24px;
  width: 24px;
}

.header-menu-notification-icons {
  fill: var(--color-main-text);
}

/*--------------------- Request section-----------------------------  */

/* .request-section {
  position: relative;
  top: 100px;
  margin-top: 58px;
  margin-bottom: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;

  background-color: var(--color-bcg);
} */

.request-menu-container {
  position: fixed;
  z-index: 101;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 24px);
  height: 36px;

  background-color: var(--color-bcg);
  backdrop-filter: blur(50px);
}

.request-menu {
  background-color: var(--color-bcg-element);
  border-radius: var(--radius-main-menu);
}

.request-menu-list {
  display: flex;
}

.request-menu-item {
  display: block;
  width: 100%;
}

.request-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  border-radius: var(--radius-main-menu);
}

.active-btn {
  background-color: var(--color-active);
}

.request-menu-button-text {
  font-size: 16;
}

.request-section-common {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 38px);
  padding-bottom: 50px;
}
/* Go ride page */

.request-goride {
  background-color: var(--color-main-menu);
}

.request-goride-item {
  margin-bottom: 16px;
}

/* go ride card  */

.request-goride-card {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;

  width: 100%;

  background-color: var(--color-bcg-element);
  border-radius: var(--radius-card);
}

.request-goride-about {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.request-goride-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.request-goride-profile-photo {
  border-radius: 50%;
}

.request-goride-profile-info {
  width: 128px;
  font-size: 8px;
}
.request-goride-profile-name {
  font-size: 14px;
}

.request-goride-date-location {
  min-width: 90px;
  padding-top: 2px;
}
.request-goride-date-location > span {
  display: block;
  align-items: right;

  font-size: 14px;
}

.request-goride-card-equipment {
  min-height: 42px;

  margin-bottom: -8px;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 8px;

  background-color: var(--color-card-eqp);
  border-radius: var(--radius-card-bottom);
  box-shadow: var(--shadow-card);
}

.request-goride-card-equipment-title {
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -8px;

  width: max-content;

  border-radius: 0 0 8px 0;
  background-color: var(--color-bcg-element);
}

.request-goride-card-equipment-text {
  display: block;
  font-size: 10px;
  color: var(--color-focus-text);
}

.request-goride-card-equipment-list {
  font-size: 12px;
  color: var(--color-focus-text);
}

/*---------------------- Footer menu classes--------------------------- */
.footer-menu {
  position: fixed;
  bottom: 0px;

  height: 52px;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: var(--color-fixed-menu);
  box-shadow: var(--shadow-menu);
}

.footer-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button-icons {
  fill: var(--color-main-text);
}

.footer-button-img {
  border-radius: 50%;
}

.footer-icon-text {
  display: block;
  text-align: center;

  font-weight: 700;
  font-size: 10;

  color: var(--color-main-text);
}

.js-btn-profile .footer-icon-text {
  margin-top: 2px;
}

.active-icon {
  fill: var(--color-active);
}

.active-text {
  color: var(--color-active);
}
